*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo img{
    height: 60px;
    width: 139px;
    margin: 16px 0 16px 0;
}
nav{
    width: 100%;
    max-width: 1140px;
    height: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}
.menu .center{
    display: flex;
    gap: 32px;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
#banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 674px;
    width: 1600px;
    background-position: left center;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#banner .banner-con{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#banner .banner-con p{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}
#banner .banner-con h1{
    color: #ffffff;
    margin-bottom: 16px;
}
.banner-con .btn-one{
    padding: 8px 12px;
    font-family: 16px;
    font-weight: 400;
    color:#30B868;
    border-radius: 25px;
    justify-items: center;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
}
.btn-one:hover{
    background-color: rgba(192, 192, 192, 0.42);
}
.btn-two{
    padding: 16.5px 16px;
    color: #ffffff;
    background-color: #30B868;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}
.btn-three{
    padding: 16.5px 16px;
    color: #ffffff;
    background-color:transparent;
    border-radius: 4px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-nav{
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
    background-color: #30B868;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}
.btn-nav:hover, .btn-two:hover{
  background-color: #0f420d;
}

#container .container-con{
    width:1360px;
    margin: 0 auto;
    margin-bottom: 25px;
    justify-items: center;
}
.container-con .con-box{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 44px;
} 
.con-box .con-card{
    padding: 24px;
    box-shadow: 0 0 8px 0 #00000027;
    width: 322px;
    height: 300px;
    text-align: center;
    

}