*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo img{
    height: 60px;
    width: 139px;
    margin: 16px 0 16px 0;
}
nav{
    background-color: #ffffff;
    margin-bottom:0px;
    height: 92px;
    position: relative;
}
nav .menu{
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;

    position: absolute;
    top: 45px;   
    width: 100%;

    display: flex;
    justify-content: center;
    list-style: none;
    gap: 32px;
}
.nav-center{
    margin-top: 24px;
}
.nav-space{
    display: flex;
   justify-content: space-between;
   padding: 16px 120px 16px 120px;
}
.menu .center{
    display: flex;
    gap: 32px;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
#banner{
    background-image: url("./image/hero-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 674px;
    width: 100%;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.color-green{
    color: #30B868;
}
#banner .banner-con{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
#banner .banner-con p{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}
#banner .banner-con h1{
    color: #ffffff;
    margin-bottom: 16px;
    font-size: 50px;
}
.banner-con .btn-one{
    padding: 8px 12px;
    font-family: 16px;
    font-weight: 400;
    color:#30B868;
    border-radius: 25px;
    justify-items: center;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
}
.btn-one:hover{
    background-color: rgba(192, 192, 192, 0.42);
}
.btn-two{
    padding: 16.5px 16px;
    color: #ffffff;
    background-color: #30B868;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}
.btn-three{
    padding: 16.5px 16px;
    color: #ffffff;
    background-color:transparent;
    border-radius: 4px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid white;
    transition: background-color 0.1s;
}
.btn-three:hover{
  background-color: #03262f;
}
.btn-nav{
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 4px;
    background-color: #30B868;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}
.btn-nav:hover, .btn-two:hover{
  background-color: #0f420d;
}

#container .container-con{
    width:1360px;
    margin: 0 auto;
    margin-bottom: 25px;
    justify-items: center;
    text-align: center;
}
.con-con{
    display: flex;
}
.container-con .con-box{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 44px;
} 
.con-box .con-card{
    padding: 24px;
    box-shadow: 0 0 8px 0 #00000027;
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* .con-card img{
    max-width: 32px;
    margin-bottom: 30px;
} */

.img-soon {
  padding: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 120px;
}
.img-soon:hover {
  transform: scale(1.15);
}
.con-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.con-card p{
   font-size: 16px;
   line-height: 20px;
   color: #627382;
}

.section-heading{
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 25px;
}
.section-heading p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 44px;
    color: #627382;
}


#know-con{
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
    margin-bottom: 120px;
}
#know-con img{
    max-width: 600px;
    max-height: 600px;
}
#know-con .text{
    max-width: 700px;
    margin-top: 102px;
}
.text h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #30B868;
    margin-bottom:16px ;
}
.text h3{
   font-size: 48px; 
   font-weight: bold;
   color: #001931;
   margin-bottom: 16px;
}
.text p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.correct-list li{
    list-style: none;
    color: #001931;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}


.more-clear-con{
    background-color: #F7F6F2;
    margin: 0 auto;
    text-align: center;
    max-width: 1360px;
    padding: 120px 120px;
}
.text-two h3{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.text-two p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    color: #627382;
    margin-top: 16px;
}

footer{
    background-color: #001931;
    margin-top: 120px;
    height: 348px;
    position: relative;
}
.text-sec{
   display: flex;
   justify-content: space-between;
   padding: 120px 120px 0 120px;

}
.icon h4{
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom:16px;
}
.footer-bar p{
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.footer-bar hr{
    color: #545557;
    width: 1360px;
    margin-left: 80px;
}